<div class="card text-center margen-tarea">
  <div class="card-header {{ cabeceraActiva }}">
    Id: {{nombreTarea.id}}
  </div>
  <div class="card-body {{ tarjetaActiva }}">
    <h5 class="card-title">Nombre: {{nombreTarea.nombre}}</h5>
    <p class="card-text">Descripcion: {{nombreTarea.descripcion}}</p>
    <input *ngIf="colorBoton === 'secondary'" type="text" placeholder="Descripcion" (keyup)="cambiarDescripcion($event)"
      [value]="nombreTarea.descripcion">
    <input class="btn btn-{{colorBoton}}" type="button" value="✏️" (click)="cambiaColor()">
    <input class="btn btn-primary margin-boton" type="button" value="❌" (click)="borrarTarea()">
    <input type="checkbox" *ngIf="!nombreTarea.completada" (input)="desactivar()">
    <input type="checkbox" *ngIf="nombreTarea.completada" (input)="desactivar()" checked>✔️️
    <input [(colorPicker)]="color" [style.background]="color" (colorPickerChange)="cambiaColorTarea($event)"/>
    🖌<br><br>
    <div [style.background]="nombreTarea.color"><p>{{nombreTarea.color}}</p></div>
  </div>
</div>
